.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-gray;
  &:hover {
    color: $mint;
    text-decoration: none;
  }
  h1 {
    font-size: 100px !important;
  }
}


@media(max-width: 720px) {
  .contact h1 {
    font-size: 60px !important;
    margin-top: 20px;
  }
}
