// Specific CSS for your home-page
.row-no-padding {
  margin: 0 !important;
  padding: 0 !important;
}

.carousel-control-prev .fas {
  color: $dark-gray;
  font-size: 50px;
}

.carousel-control-next .fas {
  color: $dark-gray;
  font-size: 50px;
}
