<div class="row row-no-padding">
  <div class="col-xs-12 col-md-4">
    <a href="https://github.com/zzuziak" class="contact">
      <h1><i class="fab fa-github"></i></h1>
      <h3> ZZUZIAK </h3>
    </a>
  </div>
  <div class="col-xs-12 col-md-4">
    <a href="https://www.linkedin.com/in/zuza-%C5%BCuber-a627b69a/" class="contact">
      <h1><i class="fab fa-linkedin"></i></h1>
      <h3> ZUZA ŻUBER </h3>
    </a>
  </div>
  <div class="col-xs-12 col-md-4">
    <a href="mailto:zuberzuzanna@gmail.com" class="contact">
      <h1><i class="fas fa-at"></i></h1>
      <h3> E-MAIL </h3>
    </a>
  </div>
</div>
