<div class="row row-no-padding whoami">
  <div class="col-xs-12 col-md-6 offset-md-1 whoami-desc">
    <p>After several years in the corporate universe I embarked on a new journey and attended a coding bootcamp.
      That was a game changer which opened the doors for endless creativity.</p>
    <p>
      Everyday I try to combine my management experience with the tech skills,
      amazing people and meaningful products. Driven by challenges and possibility to learn & share knowledge.
    </p>
    <p>
      As for personal characteristics - I tend to spontaneously buy cheap tickets
      to places I haven’t been to. I am a sport freak. I bike to places,
      bus is the last resort. Crazy about cooking.
    </p>
  </div>
  <div class="col-xs-12 col-md-4 whoami-div">
    <%= image_tag 'whoami.jpg', class:"whoami-pic" %>
  </div>
</div>
