.header {
  background-image: image-url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 45vh;
  margin-bottom: 50px;
}

.header-info-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  right: 100px;
}
.header-text {
  margin-bottom: 20px;
}

.subtitle {

}

.role-typed {
  margin-bottom: 50px;
}
.nav {
  margin-top: 50px;
}

@media(max-width: 720px) {
  .header-info-nav {
    right: 10px;
    margin: 20px;
  }

  .header {
    height: 20vh;
    margin-bottom: 180px
  }

  .nav {
    margin-top: 20px;
  }

  .role-typed {
    margin-bottom: 0 !important;
  }
}
