.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  background-size: cover;
  background-position: center;
  height: 300px;
  opacity: 0;
  border: 1px $mint solid;
  border-radius: 3px;
  transition: all 0.3s ease;
  &:hover {
    opacity: 1;
  }
}

.project-img {
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  margin-bottom: 40px;
}
.project-description {
  margin-bottom: 40px;
}

.project-stack {
  font-size: 16px;
}

.projects-header {
  margin-bottom: 50px;
  padding: 50px 40px;
  border-top: 2px solid $mint;
  border-bottom: 2px solid $mint;
}

@media(max-width: 1024px){
  .project-description {
    font-size: 16px;
  }

  .project-name {
    font-size: 20px;
  }

  .project-stack {
    font-size: 14px;
  }

  .project-card {
    padding: 30px 10px 10px 10px;
  }
}
